{# src/Esprit/AdminBundle/Resources/views/Admin/index.html.twig #}
 
 
{% extends "EspritAdminBundle::layout.html.twig" %}
 
{% block title %}
  Admin - {{ parent() }}
{% endblock %}
 
{% block espritadmin_body %}
 <h1>Gestion des Collaborateurs</h1>
<hr>
  <h2>Liste des Collaborateurs </h2>
 
{% endblock %}